## BCIS5110 - Assignment 6
5 points for Q1 and Q2 each. 10 points for Q3 and Q4 each.

1. We download many webpages. Webpages are written in HTML language, which uses tags to define webpage format. For example, a simple HTML page may look like this:<br>
\<title\> Our first HTML page\</title\><br>
\<p\>Hello world\</p\><br>
\<p\>Today is a good day.\</p\><br>
\<p\>Tomorrow may be too.\</p\><br>
<br>
Tags are marked with a set of <...>. In one project, we need to remove the tags before we process the text. <br>
Please use regular expression to remove the tags. Do not forget to import the re module. HINT: Follow our example of sub() method. Replace with empty string.

In [4]:
import re
htmlText = '<title>Our first HTML page</title> <p>Hello world</p>'
# For this example, the pattern definition we can do the following (refer to our class Notebook):
# 1. '/' is optional
# 2. Specify the length of words within tag <> using {n,m} to include both p and title.
pattern='</?\w{1,5}>'
result = re.sub(pattern,'',htmlText)
print(result)

# The output: "Our first HTML page Hello world"

Our first HTML page Hello world

2. Recent research in Finance intends to process large amount of text from SEC reports, meeting records, and social media. Extracting information about earnings per share from text is one of the focal tasks. <br>
They may be mentioned in different terms, such as 'earnings are 0.36', 'earnings per share 1.5', 'earnings this year 0.75'. Use regular expression to extract the earnings numbers only. You do not need to evaluate whether the numbers are earnings related or not.

In [6]:
import re
earningsText = 'We are cautiously positive for next year. With earnings per share of 1.5,\
we beat analysts\' forcast of earnings 1.25. Our competitors hold an average earnings of 1.0.'

# The output: [1.5, 1.25, 1.0]
earnings=re.findall(r"\d\.\d",earningsText)#every match is a string
earnings=[float(i) for i in earnings]#convert string to float
print(earnings)

[1.5, 1.2, 1.0]

3. In data preparation, sometimes we need to transform variables in certain ways. For instance, there is a binary variable that indicates whether a customer has made contacts before. Because of the data collection process, the value of the variable may be 'Yes', 'yes', 'y', 'Y' or 'No', 'no', 'N', 'n'. Write a program to transform all yes-related values into 1 and no-related value into 0.<br>
    Input: a list of values, such as ['Yes', 'yes', 'y', 'Y', 'No', 'no', 'N', 'n', 'Yes', 'n'] <br>
    Output: [1, 1, 1, 1, 0, 0, 0, 0, 1, 0] <br>

In [7]:
def transform(list):
    length=len(list)
    for i in range(0,length):
        if (list[i]=='Yes') or (list[i]=='yes') or (list[i]=='Y') or (list[i]=='y'):
            list[i]=1
        if (list[i]=='No') or (list[i]=='no') or (list[i]=='N') or (list[i]=='n'):
            list[i]=0
list=['Yes', 'yes', 'y', 'Y', 'No', 'no', 'N', 'n', 'Yes', 'n']
transform(list)
print("Output : ",list)

output :  [1, 1, 1, 1, 0, 0, 0, 0, 1, 0]

### 4. Write a program to generate urls of university websites <br>
1. We have a list of universities: University of North Texas, University of Texas Arlington, Massachusetts Institue of Technologies.<br>
2. Their URLs are similar: Taking the initials of the words in the name and combine together to get the middle part of the URL: UNT, UTA, MIT. Adding "http://www." and ".edu", we get the full URL, e.g., "http://www.unt.edu".<br>
3. First, we iterate the university list to process the name of each university.<br>
4. For each university name, we need to slice the first letter of each word (except "of") in its name and concatenate them together into a string. (HINT: we can turn each university name into a list of words. Then we iterate each word, slice the first letter and concatenate them together.)<br>
5. Once we get the initial string for each university, the full URL is to concatenate it with "http://www." and ".edu".<br>

In [11]:
universities = ['University of North Texas', 'University of Texas Arlington', 'Massachusetts Institue of Technologies']

# The output:
# ['http://www.unt.edu','http://www.uta.edu','http://www.mit.edu']

In [12]:
lst1=[]
for i in range(len(universities)):
    lst1.append(universities[i].split())
for i in range(len(lst1)):
    lst1[i].remove("of")
    for i in range(0,len(lst1)):
      university_letter = "" 
      for j in lst1[i]:
          university_letter+=str(j[0]).lower()
      print(f"This is your URL: http://www.{university_letter}.edu")

This is your URL: http://www.unt.edu
This is your URL: http://www.uota.edu
This is your URL: http://www.miot.edu
This is your URL: http://www.unt.edu
This is your URL: http://www.uta.edu
This is your URL: http://www.miot.edu
This is your URL: http://www.unt.edu
This is your URL: http://www.uta.edu
This is your URL: http://www.mit.edu

Pranav Bhanu Dhatrika