## BCIS5110 - Assignment 8

5 points each except Q6 and Q7. 10 points each for Q6&7.

In [17]:
import pandas as pd
import numpy as np

### In this assignment, we start to work on Kiva datasets.

1. Read in the three tables (the original dataset you downloaded, not the sample I provided for your initial report.)

In [18]:
loans = pd.read_csv('./kiva_ds_csv/loans.csv')
lenders = pd.read_csv('./kiva_ds_csv/lenders.csv')
loans_lenders = pd.read_csv('./kiva_ds_csv/loans_lenders.csv')

2. Display the information about each dataframe.

In [19]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2087236 entries, 0 to 2087235
Data columns (total 34 columns):
 #   Column                           Dtype
---  ------                           -----
 0   LOAN_ID                          int64
 1   LOAN_NAME                        object
 2   ORIGINAL_LANGUAGE                object
 3   DESCRIPTION                      object
 4   DESCRIPTION_TRANSLATED           object
 5   FUNDED_AMOUNT                    float64
 6   LOAN_AMOUNT                      float64
 7   STATUS                           object
 8   IMAGE_ID                         float64
 9   VIDEO_ID                         float64
 10  ACTIVITY_NAME                    object
 11  SECTOR_NAME                      object
 12  LOAN_USE                         object
 13  COUNTRY_CODE                     object
 14  COUNTRY_NAME                     object
 15  TOWN_NAME                        object
 16  CURRENCY_POLICY                  object
 17  CURRENCY_EXCHANGE_COVERAGE_RATE  float64
 18  CURRENCY                         object
 19  PARTNER_ID                       float64
 20  POSTED_TIME                      object
 21  PLANNED_EXPIRATION_TIME          object
 22  DISBURSE_TIME                    object
 23  RAISED_TIME                      object
 24  LENDER_TERM                      float64
 25  NUM_LENDERS_TOTAL                int64
 26  NUM_JOURNAL_ENTRIES              int64
 27  NUM_BULK_ENTRIES                 int64
 28  TAGS                             object
 29  BORROWER_NAMES                   object
 30  BORROWER_GENDERS                 object
 31  BORROWER_PICTURED                object
 32  REPAYMENT_INTERVAL               object
 33  DISTRIBUTION_MODEL               object
dtypes: float64(7), int64(4), object(23)
memory usage: 541.4+ MB

In [20]:
lenders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1561460 entries, 0 to 1561459
Data columns (total 14 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   PERMANENT_NAME     1561460 non-null  object
 1   DISPLAY_NAME       1559864 non-null  object
 2   MAIN_PIC_ID        516622 non-null   float64
 3   CITY               545203 non-null   object
 4   STATE              509854 non-null   object
 5   COUNTRY_CODE       667189 non-null   object
 6   MEMBER_SINCE       1561460 non-null  int64
 7   PERSONAL_URL       48738 non-null    object
 8   OCCUPATION         337140 non-null   object
 9   LOAN_BECAUSE       152092 non-null   object
 10  OTHER_INFO         87785 non-null    object
 11  LOAN_PURCHASE_NUM  1561460 non-null  int64
 12  INVITED_BY         415651 non-null   object
 13  NUM_INVITED        1561460 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 166.8+ MB

In [21]:
loans_lenders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2034151 entries, 0 to 2034150
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   LOAN_ID  int64
 1   LENDERS  object
dtypes: int64(1), object(1)
memory usage: 31.0+ MB

3. Check for missing values of the loans dataframe. You can use sum() to find out the number of missing values.

In [22]:
loans.isna().sum()

LOAN_ID                                  0
LOAN_NAME                            50238
ORIGINAL_LANGUAGE                    45891
DESCRIPTION                          45926
DESCRIPTION_TRANSLATED              455312
FUNDED_AMOUNT                            0
LOAN_AMOUNT                              0
STATUS                                   0
IMAGE_ID                             45891
VIDEO_ID                           2086058
ACTIVITY_NAME                            0
SECTOR_NAME                              0
LOAN_USE                             45914
COUNTRY_CODE                            34
COUNTRY_NAME                             0
TOWN_NAME                           176356
CURRENCY_POLICY                          0
CURRENCY_EXCHANGE_COVERAGE_RATE     473884
CURRENCY                                 0
PARTNER_ID                           21175
POSTED_TIME                              0
PLANNED_EXPIRATION_TIME             371834
DISBURSE_TIME                         4015
RAISED_TIME                         102404
LENDER_TERM                             24
NUM_LENDERS_TOTAL                        0
NUM_JOURNAL_ENTRIES                      0
NUM_BULK_ENTRIES                         0
TAGS                                943057
BORROWER_NAMES                       50238
BORROWER_GENDERS                     45891
BORROWER_PICTURED                    45891
REPAYMENT_INTERVAL                       0
DISTRIBUTION_MODEL                       0
dtype: int64

4. First, we check the dependent variable 'STATUS' in the loans dataframe. How many unique values?

In [23]:
loans['STATUS'].unique()

array(['funded', 'expired', 'refunded', 'fundRaising'], dtype=object)

5. How many observations for each category of 'STATUS'? (Which function we have learned can do that?)

In [24]:
loans['STATUS'].value_counts()

funded         1978361
expired          92416
refunded          9182
fundRaising       7277
Name: STATUS, dtype: int64

6. Our purpose is to build a model that predicts whether a loan can get funded based on loan features. So, which suggests the loan is funded? Which not? Which should we ignore?<br>
1) Delete the records with the category we can ignore.<br>
2) Recode the three categories to two categories (funded, notfunded)<br>
The recoded variable will be our target variable.

In [25]:
loans=loans[loans['STATUS']!='fundRaising']

In [26]:
loans['STATUS']=loans['STATUS'].apply(lambda x:'funded' if x=='funded' else 'notfunded')

In [27]:
loans['STATUS'].value_counts()

funded       1978361
notfunded     101598
Name: STATUS, dtype: int64

Preeti Chaudhry